body {
    background-color: #000000;
}

h2,h3 {
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: #BDBDBD;
    color: #000000;
}

.choiceDiv, .addDiv {
    margin-top: 20px;
    text-align: center;
}

#addTodo {
    border-radius: 5px;
    border-color: #BDBDBD;
    text-align: center;
    width: 300px;
    height: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ul {
    padding-inline-start: 0px;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    list-style: none;
      padding: 10px 20px;
      color: #000000;
      font-weight: 600;
      border: 2px solid #252422;
      border-radius: 5px;
      margin-bottom: 10px;
    margin-top: 15px;
      background: #BDBDBD;
      transition: all 0.75s;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  };

  .show {
      display: initial;
  }

  .hide {
    display: none;
  }
  
  .add{
    content: 'ADD';
  }

  .edit {
      content: 'EDIT';
  }
  