body {
    background-color: #121212;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-weight: lighter;
}

textarea {
    resize: none;
}

#addTodo {
    text-align: center;
    background-color: #121212;
    border-width: 0px;
    border-bottom-width: 0.9px;
    color: white;
    font-weight: lighter;
    width: 50%;
    margin-bottom: 2%;
    border-bottom: 1px solid;
    margin-top: 2%;
}

#addTodo[placeholder] {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: inherit;
}

h1, h2, h3, h4, h6, label {
    color: #f2f2f2;
    font-weight: lighter;
}

ul {
    padding-left: 100px;
    padding-right: 100px;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: #FFFFFF;
    margin-top: 15px;
    transition: all 0.75s;
    border-bottom: 1px solid;
    font-weight: lighter;
}

li:hover {
    background-color: white;
    color: black;
    border-radius: 6px;
}

.addCompleteB::before {
    content: 'ADD';
}

.editCompleteB::before {
    content: 'EDIT';
}

button {
    background-color: #121212;
    color: #FFFFFF;
    border: 1px solid #f2f2f2;
    border-radius: 8px;
    font-weight: lighter;
    padding: 5px 10px;
    width: 62.5781px;
    margin: 2px;
    cursor: pointer;
}

.hide {
    display: none;
}

#navbar {
    width: 100%;
    overflow: hidden;
    background-color: #121212;
}

#navbar a {
    float: left;
    color: #f2f2f2;
    padding: 14px;
    text-decoration: none;
    cursor: pointer;
}

#navbar a:hover {
    transition-duration: 0.3s;
    font-weight: bolder;
}

#logout, #login {
    position: absolute;
    right: 2%;
}

#register {
    position: absolute;
    right: 8%;
}

@media (min-width: 20rem) {
    /* 20*16px = 320px */
    body {
        font-size: 100%;
    }
    /* 200% of 16px = 32px */
}

@media (min-width: 30em) {
    /* 30*16px = 480px */
    body {
        font-size: 150%;
    }
    /* 300% of 16px = 30px */
}

.wPageE {
    animation-duration: 1s;
    animation-name: slidein;
    color: #f2f2f2;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }
    to {
        margin-left: 0%;
        width: 100%;
    }
}

@keyframes slideout {
    from {
        width: 100%;
    }
    to {
        margin-right: 100%;
        width: 300%;
    }
}

#appName.wPageE {
    animation-duration: 1.5s;
    animation-name: slidein;
}

#appName {
    font-weight: bolder;
}

#responseDiv {
    margin: auto;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    background-color: rgb(18, 18, 18, 0.6);
    /* Fallback color */
}

/* Modal Content/Box */

.modal-content {
    background-color: #121212;
    color: #f2f2f2;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #ffffff;
    width: 30%;
    /* Could be more or less, depending on screen size */
    border-radius: 8px;
}

button.edit:hover {
    font-weight: bolder;
    transition-duration: 0.5s;
}

button.delete:hover {
    font-weight: bolder;
    transition-duration: 0.5s;
}

#topB {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: #121212;
    /* Set a background color */
    color: #f2f2f2;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 15px;
    /* Some padding */
    border-radius: 8px;
    /* Rounded corners */
    font-size: 18px;
    /* Increase font size */
}

#topB:hover>i {
    border-width: 0 4px 4px 0;
}

i {
    border: solid #ffffff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

#changeTheme:hover {
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition-duration: 3s;
    font-weight: bolder;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
}

#registerDiv {

    display: inline-block;
}