body {
    background-color: #121212;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-weight: lighter;
}

#page_container {
    display: inline-block;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    min-height: 10em;
    width: 90%;
}

#addTodo {
    font-size: inherit;
    text-align: center;
    background-color: #121212;
    border-width: 0px;
    border-bottom-width: 0.9px;
    color: white;
    margin-bottom: 5px;
    font-weight: lighter;
    width: 50%;
    margin-bottom: 25px;
}

#addTodo[placeholder] {
    text-align: center;
}

h1, h2, label {
    border-color: #121212;
    background-color: #121212;
    color: #f2f2f2;
    font-weight: lighter;
}

ul {
    padding-left: 100px;
    padding-right: 100px;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 10px 20px;
    color: #FFFFFF;
    border: 2px solid #121212;
    margin-bottom: 10px;
    margin-top: 15px;
    background: #121212;
    transition: all 0.75s;
    font-weight: lighter;
    border-bottom: 1px solid;
}

li:hover{
    transition-duration: 1.5s;
    background-color: white;
    color: black;
    font-weight: bolder;
    border-radius: 6px;
}

.addCompleteB::before {
    content: 'ADD';
}

.editCompleteB::before {
    content: 'EDIT';
}

button {
    background-color: #121212;
    color: #FFFFFF;
    border: 1px solid #f2f2f2;
    border-radius: 8px;
    font-weight: lighter;
    padding: 2px 10px;
    width: 62.5781px;
    margin: 2px;
    cursor: pointer;
}

.hide {
    display: none;
}

#navbar {
    width: 100%;
    overflow: hidden;
    background-color: #121212;
    font-weight: lighter;
}

#navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-weight: lighter;
}

#navbar a:hover {
    transition-duration: 0.3s;
    font-weight: bolder;
}

#page_container {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky+#page_container {
    padding-top: 60px;
}

#logout, #login {
    position: absolute;
    right: 20px;
}

#register {
    position: absolute;
    right: 80px;
}

button.edit {
    width: 62.5781px;
}